---
title: OWL FIELD MANUAL FH310.45/h
---
%ul{:data => {:'magellan-expedition' => 'fixed'}, :id => 'title', :class => 'toc'}
  .table
    %li.current
      %a(href="#title")Title
    %li
      %a(href="#intro")Introduction
    %li
      %a(href="#care")1 - Care
    %li
      %a(href="#training")2 - Training
    %li
      %a(href="#combat")3 - Combat Employment

%a.title
  = image_tag 'owl.png'

.break

%header
  %h2#intro Introduction
  %hr

.content.intro
  %p
    The <strong>FH310.45/h</strong> field manual for the OWL weapons platform will go over the care,
    training, and employment of your new OWL in combat situations. The techniques and practices
    described in this manual will strengthen your understanding of the OWL weapons platform
    as well as your relationship with it.

  %p
    Please note that, as of <var>1/20/1962</var> the OWL weapons platform received a
    major upgrade. All references to the previous generation <var>VIOLENT</var>.<var>PHOENIX</var>
    are strictly prohibited.

.break

%header
  %h2#care Chapter 1 - Care and use of OWL
  %hr

.content.care
  %p
    Caring for your OWL is of the utmost importance. A well-cared weapon is one that you can rely on.
    This section will go over how to clean and maintain your OWL to maintain its combat effectiveness.
    
  %p
    The most basic and efficient of maintenance on your OWL is <strong>cleaning</strong>. A clean OWL
    is proven to function better and provide more reliable service. The figure below illustrates proper
    cleaning technique.

  %figure
    = image_tag "maint.png"
    %figcaption
      The OWL weapon system has been known to not enjoy a cleaning session. 

  %p
    <strong>Always</strong> approach cleaning with a focused mindset. Please ensure proper
    technique to avoid a <var>VIOLENT THUNDER</var> scenario, which has always proven fatal
    to the handler.

  %figure
    = image_tag "maintenance-2.png"
    %figcaption
      Congratulations on a successful OWL cleaning!

.break

%header
  %h2#training Chapter 2 - Training and Development of OWL
  %hr

.content.training
  %p
    Training content.
  %figure
    = image_tag "falconer-hand-b.png"

.break

%header
  %h2#combat Chapter 3 - Combat employment of OWL
  %hr

.content.combat
  %p
    Combat content.
    
  %figure
    = image_tag "Bomber-Owl.png"
